/* Botón Obtén tu Mapa */

.boton {
    background-color: $principal;
    color: $tercero;
    font-weight: bold;
    margin: $margen*5;
}

/* Botón formulario */

.enviar {
    display: flex;
    justify-content: center;
}

.boton-enviar {
    background-color: $principal;
    color: $tercero;
    margin: 20px 0 60px 0;
}
