$principal: #1f6e72;
$secundario: #001836;
$tercero: #f5f6fa;

h1 {
    color: $principal;
    font-family: 'Berkshire Swash', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 20px 10px;
    padding: 20px 10px;
}
.subtitulos {
    color: $principal;
    font-family: 'Berkshire Swash', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin: 30px 10px;
    padding: 20px 10px;
}

.parrafos {
    margin: 10px 0px 15px 0px;
    padding: 10px 0px;
    text-align: center;
    font-size: 1.3rem;
    color: $secundario;
}

.textoPasos {
    color: #222668;
    text-align: center;
    font-size: 1.2rem;
    justify-self: stretch;
    margin: 10px 20px 20px 20px;
}

.subtitulosBody {
    color: $secundario;
    font-size: 1.7rem;
    font-family: 'Berkshire Swash', cursive;
    margin: 20px 15px 0 15px;
    padding: 20px 0 0 0;
    justify-self: stretch;
}

.parrafos-2 {
    margin: 15px;
    padding: 10px;
    text-align: justify;
    font-size: 1.3rem;
    color: $secundario;
    justify-self: stretch;
}

.parrafos-3 {
    color: $secundario;
    font-size: 1.3rem;
}

.subtitulos-tu-mapa {
    color: $secundario;
    font-size: 1.7rem;
    font-family: 'Berkshire Swash', cursive;
}