/* Mobile */

@media only screen and (max-width: 767px) {
    .logo_nav{
        width: $margen*12;
    }
    .nav-fuente {
        font-size: 0.9rem;
    }
    .contenedor-pasos {
        margin-bottom: $margen;
    }
    .overlay {
        margin-bottom: $margen;
    }
    .text-pasos{
        font-size: 0.9rem;
    }
    .numeros {
        font-size: 1rem;
    }
    .contenedorFotos {
        margin-bottom: $margen*2;
    }
    .footer_logo {
        width: $margen;
    }
    .pie-2 {
        font-size: 0.6rem;
    }
    .email{
        width: $margen*0.8;
    }
    .tele{
        width: $margen*0.8;
    }
    .mis-redes {
        margin-top: $margen*4;
        display: flex;
        flex-direction: column;
    }
    .redes {
        width: $margen*2;
        margin: $margen/2;
    }
    .pie-3 {
        font-size: 0.6rem;
    }
    .footer_lista {
        padding-top: $margen*4;
    }
    .footer_lista_texto {
        font-size: 0.7rem;
    }
    h1{
        font-size: 2rem;
        margin: $margen;
        padding-top: $margen;
    }
    .subtitulos {
        font-size: 1.6rem;
        margin: $margen;
        padding: $margen 0;
    }
    .parrafos {
        font-size: 1.1rem;
        margin: $margen;
        padding: 0;
    }
    .textoPasos{
        font-size: 1.1rem;
        margin: $margen;
    }
    .subtitulosBody {
        font-size: 1.3rem;
        margin: $margen;
        padding: 0 $margen;
        text-align: center;
    }
    .parrafos-2 {
        font-size: 1.2rem;
        margin: $margen/2;
        padding: $margen;
        text-align: justify;
    }
    .parrafos-3 {
        font-size: 1.1rem;
    }
    .subtitulos-tu-mapa {
        text-align: center;
    }
    .parrafo-foto {
        width: 130px;
        margin: 0;
        padding: 0;
    }
    .pasosMapa {
        margin: $margen 0;
        padding: 0 $margen/2;
    }
    .icono {
        width: 2px;
        padding: 2px;
    }
    .mapaPasos {
        margin: $margen;
    }
    .boton-enviar {
        margin: $margen 0;
    }
}

/* iPad */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .logo_nav{
        width: $margen*14;
    }
    .nav-fuente {
        font-size: 0.7rem;
    }
    .parrafo-foto {
        width: 250px;
        margin-left: $margen*10;
        padding: $margen;
    }
}

/* PC */

@media only screen and (min-width: 1024px) {
    .nav-fuente {
        font-size: 1rem;
    }
}